section#about.about
      .container.about-container
        .about-info
          .about-photo
          .about-text
            h2.about-title Обо мне
            p.about-description Меня зову Дмитрий Веретенников. Я frontend-разработчик из города Ижевска. Люблю веб-разработку, активно учусь и изучаю новые стандарты. Неплохо владею версткой, знаю JavaScript. Хочу стать middle front-end разработчиком. Свободное время люблю посвящать себе, делать личные проекты или изучать что-то новое в веб-разработке.
        .about-skills
          h2.about-title.skills Мои навыки
          .cards
            .card
              .box
                .percent
                  svg
                    circle(cx="70" cy="70" r="70")
                    circle(cx="70" cy="70" r="70" style="stroke-dashoffset: calc(44);")
                  .number
                    h2 90
                      span %
                h2.text html
            .card
              .box
                .percent
                  svg
                    circle(cx="70" cy="70" r="70")
                    circle(cx="70" cy="70" r="70" style="stroke-dashoffset: calc(130);")
                  .number
                    h2 70
                      span %
                h2.text css
            .card
              .box
                .percent
                  svg
                    circle(cx="70" cy="70" r="70")
                    circle(cx="70" cy="70" r="70" style="stroke-dashoffset: calc(176);")
                  .number
                    h2 60
                      span %
                h2.text JavaScript