header.header
      .container
        .row
          .lang
            ul.lang-list
              li.lang-list__li ru
              li.lang-list__li en
          nav.menu
            ul.list-items
              li.list-item
                a.link-item(href="#home") Главная
              li.list-item
                a.link-item(href="#about") Обо мне
              li.list-item
                a.link-item(href="#works") Мои работы
              li.list-item
                a.link-item(href="#contact") Контакты
          .socials 
            a.social-link(href="https://vk.com/ves_ed_it")
              img.social-link__img(src="../img/icon/vk-social-network-logo.svg", alt="vk")
            a.social-link(href="https://github.com/edword03")
              img.social-link__img(src="../img/icon/iconmonstr-github-1.svg", alt="github")
            a.social-link(href="#")
          .mobile-btn
            button.menu-toggle
              span.burger
              span.burger
              span.burger