<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title WebDeveloper - Dmitriy Veretennikov
    style @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css")
  body
    include header
    include main
    include about
    include works
    include footer
    include nav-modal
      //- спортзал
    include modals/modal1
    //- glo 3D
    include modals/modal2

    //- repair desing project
    include modals/modal3
    //- calculator 
    include modals/modal4
    //- ToDo list
    include modals/modal5

    //- iTunes
    include modals/modal6      
                        
    include arrow.pug