main#home
      .description
        .description-text
          p.description-text__title Кто я?
          h1.description-text__h1 Я front-end разработчик
          p.description-text__p Frontend разработчик — это верстальщик и программист в одном лице, герой стиля и кода, создающий пользовательский интерфейс.
      p.scroll
        a.scroll-down__a(href="#")
          img.scroll-down__img(src="../img/icon/arrow-down.svg", alt="")