nav.popup-menu.hidden-menu
      .close-menu-btn
        a.close(href="")
      ul
        li.scroll 
          a.link-item(href="#home") Главная
        li.scroll
          a.link-item(href="#about") Обо мне
        li.scroll
          a.link-item(href="#works") Мои Работы
        li.scroll
          a.link-item(href="#contact") Контакты
