section#works.works 
      .container
        h2.works-title Мои работы
        .works-cards
          .works-card.works-card-1#m1
            img.works-img#m1(src="../img/works/photo2.jpg", alt="")
            .works-text#m1
              h3#m1 Сеть фитнес клубов Тело
              p.works-text__p#m1 JavaScript, Webpack, Babel
              .works-links#m1
                a(href="https://edword03.github.io/diplom_middle/" target="_blank") Страница
                a(href="https://github.com/edword03/diplom_middle" target="_blank") github
          .works-card.works-card-2#m2
            img.works-img#m2(src="../img/works/flat.jpg", alt="")
            .works-text#m2
              h3#m2 Услуги по 3D моделированию
              p.works-text__p#m2 JavaScript, Webpack, Babel
              .works-links#m2
                a#m2(href="https://edword03.github.io/Glo3D/" target="_blank") Страница
                a#m2(href="https://github.com/edword03/Glo3D" target="_blank") github
          .works-card.works-card-3#m3
            img.works-img#m3(src="../img/works/Screenshot_25.png", alt="")
            .works-text#m3
              h3#m3 Repair Design Project
              p.works-text__p#m3 HTML, CSS, Sass, JQuery
              .works-links#m3
                a#m3(href="https://edword03.github.io/homework.github.io/" target="_blank") Страница
                a#m3(href="https://github.com/edword03/homework.github.io" target="_blank") github
          .works-card.works-card-4#m4
            img.works-img#m4(src="../img/works/calcMoney.jpg", alt="")
            .works-text#m4
              h3#m4 Калькулятор личного бюджета
              p.works-text__p#m4 JavaScript, ООП
              .works-links#m4
                a#m4(href="https://edword03.github.io/JS-14.0/" target="_blank") Страница
                a#m4(href="https://github.com/edword03/JS-14.0" target="_blank") github
          .works-card.works-card-5#m5
            img.works-img#m5(src="../img/works/todoList.jpg", alt="")
            .works-text#m5
              h3#m5 ToDo List
              p.works-text__p#m5 JavaScript, ООП
              .works-links#m5
                a#m5(href="https://edword03.github.io/ToDo-List/" target="_blank") Страница
                a#m5(href="https://github.com/edword03/ToDo-List/tree/ToDo_OOP" target="_blank") github
          .works-card.works-card-6#m6
            img.works-img#m6(src="../img/works/itunes.jpg", alt="")
            .works-text#m6
              h3#m6 iTunes
              p.works-text__p#m6 JavaScript
              .works-links#m6
                a#m6(href="https://edword03.github.io/iTunes/" target="_blank") Страница
                a#m6(href="https://github.com/edword03/iTunes" target="_blank") github