.modal-work#card-3
      .modal-card
        .modal-close
          img.close-icon(src="../img/icon/close-icon.png", alt="")
        .modal-slider
          .modal-arrow.modal-arrow-prev
          img.modal-img(src="../img/works/Screenshot_25.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair1.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair2.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair3.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair4.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair5.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair6.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair7.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair8.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair9.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider3/repair10.png", alt="")
          span.modal-counter <span id="s1">1</span> / <span id="s2">1</span>
          .modal-arrow.modal-arrow-next
        .modal-text
          h3 Repair Design Project
          p.modal-text__p Стек технологий: HTML, CSS, Sass, JQuery, PHP, плагины для JQuery. С помощью PHP и PHPmailer происходила отправка даннных формы на почту.
          .modal-links
            a(href="https://edword03.github.io/homework.github.io/") Страница
            a(href="https://github.com/edword03/homework.github.io") github  
