.modal-work#card-6
      .modal-card
        .modal-close
          img.close-icon(src="../img/icon/close-icon.png", alt="")
        .modal-slider
          .modal-arrow.modal-arrow-prev
          img.modal-img(src="../img/works/itunes.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider6/itunes1.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider6/itunes2.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider6/itunes3.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider6/itunes4.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider6/itunes5.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider6/itunes6.jpg", alt="")
          span.modal-counter <span id="s1">1</span> / <span id="s2">6</span>
          .modal-arrow.modal-arrow-next
        .modal-text
          h3 iTunes
          p.modal-text__p JavaScript
          .modal-links
            a(href="https://edword03.github.io/iTunes/" target="_blank") Страница
            a(href="https://github.com/edword03/iTunes" target="_blank") github