.modal-work#card-5
      .modal-card
        .modal-close
          img.close-icon(src="../img/icon/close-icon.png", alt="")
        .modal-slider
          .modal-arrow.modal-arrow-prev
          img.modal-img(src="../img/works/todoList.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider5/todo1.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider5/todo2.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider5/todo3.jpg", alt="")
          span.modal-counter <span id="s1">1</span>  / <span id="s2">8</span> 
          .modal-arrow.modal-arrow-next
        .modal-text
          h3 ToDo List
          p.modal-text__p JavaScript, ООП, LocalStorage. Все списоки дел сохранялись в локальное хранилище localStorage. И при перезагрузке список дел не терялся, а оставался на месте.
          .modal-links
            a(href="https://edword03.github.io/ToDo-List/" target="_blank") Страница
            a(href="https://github.com/edword03/ToDo-List/tree/ToDo_OOP" target="_blank") github