.modal-work#card-2
      .modal-card
        .modal-close
          img.close-icon(src="../img/icon/close-icon.png", alt="")
        .modal-slider
          .modal-arrow.modal-arrow-prev
          img.modal-img(src="../img/works/flat.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider2/3d-1.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider2/3d-2.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider2/3d-3.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider2/3d-4.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider2/3d-5.png", alt="")
          span.modal-counter <span id="s1">1</span> / <span id="s2">9</span>
          .modal-arrow.modal-arrow-next
        .modal-text
          h3 Услуги по 3D моделированию
          p.modal-text__p Используемые технологии: JavaScript, Webpack, Babel, polyfills. По ходу курса использовали многие темы JavaScript: делегирование событий, fetch, promise, XMLHttpRequest, валидация форм и др.
          .modal-links
            a(href="https://edword03.github.io/Glo3D/") Страница
            a(href="https://github.com/edword03/Glo3D") github