.modal-work#card-1
      .modal-card
        .modal-close
          img.close-icon(src="../img/icon/close-icon.png", alt="")
        .modal-slider
          .modal-arrow.modal-arrow-prev
          img.modal-img(src="../img/works/photo2.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body1.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body2.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body3.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body4.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body5.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body6.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider1/Body7.png", alt="")
          span.modal-counter <span id="s1">1</span> / <span id="s2">8</span>
          .modal-arrow.modal-arrow-next
        .modal-text
          h3 Сеть фитнес клубов Тело
          p.modal-text__p Дипломная работа на курсе JavaScript от Glo Academy. На этой работе использовал стек технологий: JavaScript, Webpack, Babel, полифилы и тд. <br> Работа заняла в общей сложности 4-5 дней. Основная сложность заключалась в валидации форм на сайте и реализации отправки данных с форм с помощью fetch.
          .modal-links
            a(href="https://edword03.github.io/diplom_middle/") Страница
            a(href="https://github.com/edword03/diplom_middle") github