.modal-work#card-4
      .modal-card
        .modal-close
          img.close-icon(src="../img/icon/close-icon.png", alt="")
        .modal-slider
          .modal-arrow.modal-arrow-prev
          img.modal-img(src="../img/works/calcMoney.jpg", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider4/calc1.png", alt="")
          img.modal-img.modal-toggle(src="../img/modals-photo/slider4/calc2.png", alt="")
          span.modal-counter <span id="s1">1</span> / <span id="s2">6</span> 
          .modal-arrow.modal-arrow-next
        .modal-text
          h3 Калькулятор личного бюджета
          p.modal-text__p JavaScript, ООП
          .modal-links
            a(href="https://edword03.github.io/JS-14.0/") Страница
            a(href="https://github.com/edword03/JS-14.0") github
