.header{
  display: none;
  padding: 25px 0 25px 0;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.7);
  transition: 0.34s linear;
}

.link-item {
  position: relative;
  margin: 0 20px;
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 0% 2px;
  border: none;
  transition: all 0.3s ease-in-out;

  &::after{
    content: '';
    display: block;
    background-color: #34547A;
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
  }
  &:hover{
    color: #34547A;
  }
  &:hover::after{
    width: 100%;
  }
}

.socials {
  @include flex(space-between, center);
  position: relative;
  max-width: 50px;
  width: 6.71rem;
}
.social-link{
  max-width: 45px;
  max-height: 45px;
  &__img{
    margin-right: 25px;
    width: 25px;
    height: 25px;
  }
}

.lang{
  display: none;
  text-transform: uppercase;
  position: relative;
  &-list{
    display: flex;
    list-style: none;
    background-color: #fff;
    margin-right: 10px;
    &__li{
      cursor: pointer;
      margin-left: 20px;
      position: relative;
    }
    &__li:first-child::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      left: 30px;
      background-color: #131313;
    }
  }
}

.mobile-btn{
  display: none;
  cursor: pointer;
}

.menu-toggle{
  display: block;
  outline: none !important;
  border: none !important;
  cursor: pointer;
  background-color: #fff;
}

.burger{
  background: #222;
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 6px;
  outline: none;
  border: none;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.popup-menu{
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  & ul {
    margin: auto;
    list-style: none;
  }
  & li {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  & a {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.close{
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: .3s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #222;
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
  &-menu-btn{
    position: absolute;
    text-align: right;
    top: 25px;
    right: 0;
  }
}

.hidden-menu{
  display: none;
}