.works{
  background-color: #EEEFF1;
  padding: 90px 0 60px 0;
  &-cards{
    @include flex(center, center);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  &-card{
    cursor: pointer;
    width: 350px;
    background-color: #fff;
    margin: 40px 25px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    &:hover{
      -webkit-box-shadow: 0 20px 18px rgba(0, 0, 0, 0.5);
              box-shadow: 0 20px 18px rgba(0, 0, 0, 0.5);
    }
  }
  &-img{
    width: 100%;
    height: 185px;
  }
  &-text{
    & h3{
      padding: 22px 30px 20px;
    }
    &__p{
      padding: 0 30px 15px;
      color: #727272;
    }
  }
  &-title{
    position: relative;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
    font-size: 33px;
    &::after{
      content: '';
      display: block;
      background-color: rgba(135, 135, 135, 0.5);
      bottom: 0;
      left: 50%;
      width: 100px;
      height: 1px;
      margin: 30px auto;
    }
  }
  &-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #111;
    padding: 18px 36px;
    font-weight: bold;
    & a {
      display: block;
      position: relative;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      &::after{
        content: '';
        display: block;
        margin-top: 4px;
        background-color: #778899;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
      }
      &:hover{
        color: #778899;
      }
      &:hover::after{
        width: 100%;
        height: 1px;
      }
    }
  }
}